* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header>.container-hd {
    background-color: rgb(195, 195, 195);
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-nav {
    width: 960px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar {
    border: 2px red dotted;
    height: 40px;
    width: 80%;
}

.sec-navbar {
    background-color: rgb(218, 196, 74);
    border: 2px dotted black;
    height: 95%;
    width: 90%;
    max-width: 960px;
    display: flex;
}

.sec-navbar.left, .sec-navbar.right {
    width: 230px;
    min-width: 190px;
}

.sec-navbar.center {
    width: 80%;
    min-width: 40%;
}

header>.second-container {
    background-color: rgb(63, 34, 180);
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.second-container>.section-header {
    border: 2px dotted white;
    width: 80%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-header>.content {
    background-color: rgb(218, 196, 74);
    border: 2px dotted black;
    width: 80%;
    height: 75%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 700px;
}

.section {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dotted red;
    width: 80%;
    height: 90%;
}

.first-block {
    background-color: rgb(71, 126, 240);
    border: 2px dotted blue;
    width: 63%;
    height: 90%;
}

.second-block {
    background-color: rgb(233, 183, 220);
    border: 2px dotted blue;
    width: 33%;
    height: 90%;
}

.background-grey {
    background-color: rgb(243, 243, 243);
}

.inverted-section {
    flex-direction: row-reverse;
}

.big-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1200px;
}

.section-big-container {
    background-color: rgb(121, 168, 114);
    border: 2px dotted red;
    height: 95%;
    width: 80%;
}